* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #282a2c;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  font-size: 1.1rem;
}

*::-moz-selection {
  background: #54a8c7;
  color: #fff;
}

*::selection {
  background: #54a8c7;
  color: #fff;
}

.titulo {
  position: relative;
  padding: 20px 25px;
}

.titulo .square {
  position: absolute;
  background: #54a8c7;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 30% 30%, 30% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 30%, 30% 30%, 30% 100%, 0 100%);
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.titulo h1, .titulo h2, .titulo h3 {
  text-transform: uppercase;
}

.titulo h3 {
  font-style: italic;
  font-size: 2.2rem;
  margin-top: 0;
}

.titulo h2 {
  font-weight: 800;
  font-size: 2.7rem;
  margin-top: -10px;
}

.titulo h1 {
  font-weight: 800;
  font-size: 4.8rem;
  margin-top: -20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  background: #54a8c7;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  outline: none;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.btn:hover {
  background: #368baa;
}

.contenedor {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  width: 100%;
  height: 280px;
}

.header .degradado {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 20, 33, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 20, 33, 0.5), rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .degradado h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.header .degradado h1 span {
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 1440px) {
  .titulo h3 {
    font-size: 1.6rem;
  }
  .titulo h2 {
    font-size: 2.1rem;
  }
  .titulo h1 {
    font-size: 4.2rem;
  }
  .header {
    height: 220px;
  }
}

@media only screen and (max-width: 1440px) {
  * p {
    font-size: 1rem;
  }
  .titulo h3 {
    font-size: 1.2rem;
  }
  .titulo h2 {
    font-size: 1.7rem;
  }
  .titulo h1 {
    font-size: 3.8rem;
  }
  .header {
    height: 200px;
  }
  .header .degradado h1 {
    text-align: center;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 599px) {
  .titulo {
    padding: 10px 15px;
  }
  .titulo .square {
    width: 30px;
    height: 30px;
  }
  .titulo h3 {
    font-size: 1rem;
  }
  .titulo h2 {
    font-size: 1.3rem;
    margin-top: -5px;
  }
  .titulo h1 {
    font-size: 2.5rem;
    margin-top: -10px;
  }
  .header {
    height: 20vh;
  }
  .header .degradado h1 {
    text-align: center;
    font-size: 2rem;
  }
  .btn {
    padding: 10px 15px;
  }
}

.menu {
  width: 100%;
  height: 90px;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menu .contenedor {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .contenedor .logo {
  height: 85%;
  width: 70px;
  background: url("../img/logos/negro.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu .contenedor ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .contenedor ul li {
  height: 100%;
}

.menu .contenedor ul li a {
  display: inline-block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.menu .contenedor ul li a:hover {
  color: #54a8c7;
}

.menu .contenedor ul li a:hover::after {
  width: 100%;
  left: 0;
}

.menu .contenedor ul li a:after {
  content: '';
  width: 0;
  height: 3px;
  background: #54a8c7;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

/*.transparente{
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    .contenedor{
        .logo{
            background: url("../img/logos/blanco.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        ul{
            li{
                a{
                    color: $blanco;
                    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
                }
            }
        }
    }
}*/
@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
}

.degradado-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 9, 26, 0.8)), color-stop(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(2, 9, 26, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 700;
  opacity: 0;
  display: none;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menu-movil {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-movil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: block;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  .menu-movil .caja {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #54a8c7;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0);
    position: relative;
  }
  .menu-movil .caja div {
    width: 98%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .menu-movil .caja div img {
    height: 200px;
  }
  .menu-movil .caja div .linea {
    height: 2px;
    width: 60%;
    background: #8A8989;
    margin: 40px 0;
    padding: 0;
    border-radius: 10px;
    opacity: .5;
  }
  .menu-movil .caja div ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-movil .caja div ul li {
    width: 100%;
  }
  .menu-movil .caja div ul li a {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menu-movil .caja div ul li a:hover {
    background: #E6EAEF;
    color: #282a2c;
  }
  .menu-movil .caja div .btn-menu {
    position: absolute;
    top: 65px;
    left: 100%;
    display: inline-block;
    margin-top: 20px;
    background: #E6EAEF;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 8px 8px 0;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menu-movil .caja div .btn-menu:hover span {
    font-size: 1.6rem;
  }
  .menu-movil .caja div .btn-menu span {
    font-size: 1.5rem;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menu-movil .caja div .salida {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2rem;
    color: #8A8989;
    font-weight: 800;
    cursor: pointer;
    opacity: .7;
    -webkit-transition: ease-in-out .15s;
    transition: ease-in-out .15s;
  }
  .menu-movil .caja div .salida:hover {
    opacity: 1;
    color: #54a8c7;
  }
  .inactivo {
    margin-left: -100%;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0);
  }
  .activo {
    margin-left: 0;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }
}

header {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  position: relative;
}

header .contenido {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 20, 33, 0.5)), to(rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, rgba(0, 20, 33, 0.5), rgba(0, 0, 0, 0.25));
}

header .contenido img {
  height: 50%;
  margin-bottom: 60px;
}

header .contenido button {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 800px) {
  header {
    height: 100vh;
    margin-top: 0;
  }
  header .contenido img {
    height: 40%;
  }
}

.acerca {
  width: 100%;
  padding: 60px 0;
  padding-bottom: 22vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), to(#E6EAEF));
  background: linear-gradient(to bottom, #fff 25%, #E6EAEF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acerca .movil {
  display: none;
}

.acerca .titulo {
  margin-bottom: 120px;
}

.acerca .contenido {
  width: 100%;
  height: 30vh;
  background: #fff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.acerca .contenido .contenedor {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.acerca .contenido .contenedor .imagenes {
  height: 175%;
  width: 40%;
  position: relative;
}

.acerca .contenido .contenedor .imagenes .img {
  width: 70%;
  height: 50%;
  overflow: hidden;
}

.acerca .contenido .contenedor .imagenes .uno {
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
  background: url("../img/otros/1.jpg");
  background-size: cover;
  background-position: center;
}

.acerca .contenido .contenedor .imagenes .dos {
  width: 50%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
  background: url("../img/otros/2.jpg");
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

.acerca .contenido .contenedor p {
  width: 55%;
  text-align: justify;
  padding-right: 20px;
}

@media only screen and (max-width: 1100px) {
  .acerca {
    position: relative;
    padding-bottom: 40vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(#E6EAEF), color-stop(#E6EAEF), to(#E6EAEF));
    background: linear-gradient(to bottom, #fff, #E6EAEF, #E6EAEF, #E6EAEF);
  }
  .acerca .escritorio {
    display: none;
  }
  .acerca .movil {
    display: block;
  }
  .acerca .img-fondo {
    position: absolute;
    bottom: 0;
    z-index: 200;
    width: 100%;
    height: 60vh;
    background: url("../img/backgrounds/acerca.jpg");
    background-position: center;
    background-size: cover;
  }
  .acerca .img-fondo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    z-index: 300;
  }
  .acerca .contenido {
    width: 90%;
    z-index: 500;
    padding: 60px 30px;
    height: auto;
  }
  .acerca .contenido .titulo {
    margin: 0;
  }
  .acerca .contenido .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .acerca .contenido .contenedor p {
    width: 100%;
    padding-right: 0;
  }
}

.sabores {
  padding-top: 80px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sabores .texto {
  width: 100%;
}

.sabores .texto .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.sabores .texto .contenedor p {
  width: 75%;
  text-align: center;
  margin-bottom: 80px;
}

.sabores .imagenes {
  background: #E6EAEF;
  width: 100%;
  padding: 80px 0;
  padding-bottom: 120px;
}

.sabores .imagenes .contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding: 0 40px;
}

.sabores .imagenes .contenedor .img {
  height: 400px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.sabores .imagenes .contenedor .uno {
  background: url("../img/otros/3.jpg");
  background-size: cover;
  background-position: center;
}

.sabores .imagenes .contenedor .dos {
  background: url("../img/otros/4.jpg");
  background-size: cover;
  background-position: center;
}

.sabores .imagenes .contenedor .tres {
  background: url("../img/otros/5.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1100px) {
  .sabores {
    min-height: auto;
  }
  .sabores .texto p {
    display: none;
  }
  .sabores .imagenes {
    padding: 40px 0px;
    background: #fff;
  }
  .sabores .imagenes .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 0 30px;
    min-height: 650px;
  }
  .sabores .imagenes .contenedor .img {
    height: auto;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0);
  }
  .sabores .imagenes .contenedor .uno {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .sabores .imagenes .contenedor .dos {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
  .sabores .imagenes .contenedor .tres {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media only screen and (max-width: 599px) {
  .sabores {
    padding-top: 40px;
  }
  .sabores .imagenes .contenedor {
    min-height: 400px;
    grid-gap: 15px;
    padding: 0 15px;
  }
}

.nuestro-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nuestro-menu .header {
  background: url("../img/backgrounds/3.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.nuestro-menu .contenido {
  width: 100%;
}

.nuestro-menu .contenido .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}

.nuestro-menu .contenido .contenedor .imagenes {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 30px;
}

.nuestro-menu .contenido .contenedor .imagenes div {
  height: 250px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.nuestro-menu .contenido .contenedor .imagenes .uno {
  background: url("../img/otros/2.jpg");
  background-size: cover;
  background-position: center;
}

.nuestro-menu .contenido .contenedor .imagenes .dos {
  background: url("../img/otros/1.jpg");
  background-size: cover;
  background-position: center;
}

.nuestro-menu .contenido .contenedor .imagenes .tres {
  background: url("../img/otros/6.jpg");
  background-size: cover;
  background-position: center;
}

.nuestro-menu .contenido .contenedor .imagenes .cuatro {
  background: url("../img/otros/3.jpg");
  background-size: cover;
  background-position: center;
}

.nuestro-menu .contenido .contenedor .movil {
  display: none;
}

.nuestro-menu .contenido .contenedor .texto {
  width: 40%;
  padding: 0 20px;
  padding-left: 40px;
}

.nuestro-menu .contenido .contenedor .texto p {
  text-align: justify;
}

.nuestro-menu .barra {
  background: #282a2c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.nuestro-menu .barra p {
  color: #fff;
  margin-right: 20px;
}

@media only screen and (max-width: 1100px) {
  .nuestro-menu .contenido .contenedor {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nuestro-menu .contenido .contenedor .escritorio {
    display: none;
  }
  .nuestro-menu .contenido .contenedor .escritorio {
    display: none;
  }
  .nuestro-menu .contenido .contenedor .movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 30px;
  }
  .nuestro-menu .contenido .contenedor .imagenes {
    width: 100%;
    padding: 30px;
  }
}

@media only screen and (max-width: 599px) {
  .nuestro-menu .contenido .contenedor {
    padding: 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nuestro-menu .contenido .contenedor .escritorio {
    display: none;
  }
  .nuestro-menu .contenido .contenedor .escritorio {
    display: none;
  }
  .nuestro-menu .contenido .contenedor .movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 30px;
  }
  .nuestro-menu .contenido .contenedor .imagenes {
    width: 100%;
    padding: 10px;
    grid-gap: 10px;
  }
  .nuestro-menu .contenido .contenedor .imagenes div {
    height: 175px;
  }
  .nuestro-menu .barra {
    padding: 30px;
  }
  .nuestro-menu .barra p {
    margin-right: 10px;
    text-align: center;
  }
}

.reservacion .header {
  background: url("../img/backgrounds/1b.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.reservacion .contenido .contenedor {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservacion .contenido .contenedor .caja-titulo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservacion .contenido .contenedor form {
  width: 50%;
  padding: 40px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservacion .contenido .contenedor form div {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservacion .contenido .contenedor form div label {
  margin-right: 20px;
  font-size: 1.3rem;
}

.reservacion .contenido .contenedor form div label i {
  color: #8A8989;
}

.reservacion .contenido .contenedor form div input, .reservacion .contenido .contenedor form div select {
  width: 50%;
  padding: 10px;
  border: 1px solid #8A8989;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.reservacion .contenido .contenedor form div input:hover, .reservacion .contenido .contenedor form div select:hover {
  border: 1px solid #282a2c;
}

.reservacion .contenido .contenedor form div input:focus, .reservacion .contenido .contenedor form div select:focus {
  border: 1px solid #54a8c7;
}

.reservacion .contenido .contenedor form div select:focus {
  border-radius: 8px 8px 0 0;
}

.reservacion .barra {
  background: #E6EAEF;
  padding: 40px 20px;
}

.reservacion .barra p {
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .reservacion .contenido .contenedor form div input, .reservacion .contenido .contenedor form div select {
    width: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .reservacion .contenido .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
  .reservacion .contenido .contenedor .caja-titulo {
    width: 100%;
  }
  .reservacion .contenido .contenedor form {
    width: 100%;
  }
  .reservacion .contenido .contenedor form div input, .reservacion .contenido .contenedor form div select {
    width: 75%;
  }
}

#animacionOlas svg {
  height: 125px;
  width: 100%;
}

#animacionOlas .wave-divider {
  padding-top: 0px;
  line-height: 0;
}

#animacionOlas .wave-divider ::-moz-selection {
  background-color: salmon;
  color: white;
}

#animacionOlas .wave-divider ::selection {
  background-color: salmon;
  color: white;
}

#animacionOlas .wave-divider .parallax-wave > use {
  -webkit-animation: move-forever 15s ease infinite;
  animation: move-forever 15s linear infinite;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateZ(0) scale(1, 1);
}

#animacionOlas .wave-divider .parallax-wave > use:nth-child(1) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

#animacionOlas .wave-divider .parallax-wave > use:nth-child(2) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

#animacionOlas .wave-divider .parallax-wave > use:nth-child(3) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

.contacto {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .titulo {
  margin-bottom: 40px;
}

.contacto .caja-info {
  width: 100%;
}

.contacto .caja-info .info {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #282a2c;
}

.contacto .caja-info .info h3 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 40px;
}

.contacto .caja-info .info div {
  width: 25%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .caja-info .info div:first-child {
  border-right: 1px solid #fff;
}

.contacto .caja-info .info div p, .contacto .caja-info .info div a, .contacto .caja-info .info div i {
  text-align: center;
  color: #fff;
}

.contacto .caja-info .info div a {
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.contacto .caja-info .info div a:hover {
  color: #54a8c7;
}

.contacto .caja-info .info div p {
  margin-bottom: 30px;
}

.contacto .caja-info .info div .icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacto .caja-info .info div .icons a {
  font-size: 2.3rem;
  margin: 15px;
}

.contacto .caja-info .info div .icons a i {
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.contacto .caja-info .info div .icons a:hover i {
  color: #54a8c7;
}

.contacto .mapa {
  width: 100%;
  height: 50vh;
  background: #E6EAEF;
}

footer {
  padding: 30px;
  border-top: 10px solid #54a8c7;
  background: #282a2c;
}

footer p {
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .contacto .caja-info .info div {
    width: 30%;
  }
}

@media only screen and (max-width: 1150px) {
  .contacto .caja-info .info div {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .contacto .caja-info .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .caja-info .info div {
    width: 80%;
  }
  .contacto .caja-info .info div:first-child {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .contacto .caja-info .info div h3 {
    text-align: center;
  }
  .contacto .caja-info .info .redes h3 {
    margin: 0;
  }
  .contacto .caja-info .info .redes .icons {
    padding: 0;
  }
}

@media only screen and (max-width: 430px) {
  .contacto .caja-info .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .caja-info .info div {
    width: 80%;
  }
  .contacto .caja-info .info div:first-child {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .contacto .caja-info .info div h3 {
    font-size: 1.5rem;
  }
}

.formulario {
  background: #282a2c;
  padding-bottom: 40px;
  width: 100%;
}

.formulario .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .contenedor form {
  width: 60%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .contenedor form input, .formulario .contenedor form textarea {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 2px solid #E6EAEF;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.formulario .contenedor form input:hover, .formulario .contenedor form textarea:hover {
  border: 2px solid #54a8c7;
}

.formulario .contenedor form input:focus, .formulario .contenedor form textarea:focus {
  border: 2px solid #54a8c7;
}

.formulario .contenedor form .doble {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario .contenedor form .doble input {
  width: 49%;
}

.formulario .contenedor form input[type="submit"] {
  border: none;
  background: #54a8c7;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  width: 150px;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.formulario .contenedor form input[type="submit"]:hover {
  background: #368baa;
}

@media only screen and (max-width: 800px) {
  .formulario .contenedor form {
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .formulario .contenedor form .doble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario .contenedor form .doble input {
    width: 100%;
  }
}

.menu-comidas {
  display: block;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  background: #E6EAEF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 990;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menu-comidas .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-comidas .contenedor a {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .83rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.menu-comidas .contenedor a:hover {
  color: #54a8c7;
}

.menu-comidas2 {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-comidas {
    display: none;
  }
  .menu-comidas2 {
    display: block;
    top: 0;
  }
  .menu-comidas2 .contenedor {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .menu-comidas2 .contenedor::-webkit-scrollbar {
    display: none;
  }
  .menu-comidas2 .contenedor a {
    font-size: 1rem;
  }
}

.menu-restaurante {
  width: 100%;
}

.menu-restaurante article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-restaurante article:first-child .header-seccion {
  height: calc(35vh + 165px);
  margin-top: 0;
}

.menu-restaurante article .header-seccion {
  width: 100%;
  height: 35vh;
  position: relative;
  margin-top: 60px;
  background-position: center !important;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

.menu-restaurante article .header-seccion .degradado {
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.menu-restaurante article .titulo {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-restaurante article .categoria {
  width: 95%;
  padding: 15px 0;
  background: #54a8c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -5%;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 99% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0, 99% 50%, 100% 100%, 0% 100%);
  margin-top: 60px;
  margin-bottom: 30px;
}

.menu-restaurante article .categoria h1 {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  margin-left: 5%;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

.menu-restaurante article .contenido {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-column-break-inside: avoid;
  margin-top: 30px;
}

.menu-restaurante article .contenido .objeto {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
}

.menu-restaurante article .contenido .objeto .elemento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0;
}

.menu-restaurante article .contenido .objeto .elemento div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: auto;
}

.menu-restaurante article .contenido .objeto .elemento div .circulo {
  width: 10px;
  height: 10px;
  background: #54a8c7;
  border-radius: 50%;
  padding: 0;
  margin-right: 5px;
}

.menu-restaurante article .contenido .objeto .elemento div .nombre {
  text-transform: uppercase;
  font-weight: 800;
  color: #282a2c;
  margin-right: 5px;
  width: auto;
  background: #fff;
}

.menu-restaurante article .contenido .objeto .elemento .puntos {
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 100%;
  height: 2px;
  padding: 0;
  border-bottom: 2px dotted #282a2c;
  z-index: -1;
}

.menu-restaurante article .contenido .objeto .elemento .precio {
  font-weight: 800;
  color: #54a8c7;
  width: 45px;
  background: #fff;
}

.menu-restaurante article .contenido .objeto .descripcion-elemento {
  width: 100%;
  padding: 0;
  padding-left: 15px;
}

.menu-restaurante article .contenido .objeto .descripcion-elemento p {
  font-style: italic;
}

.menu-restaurante article .contenido .objeto .descripcion-elemento p:first-child {
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  .menu-restaurante article .header-seccion {
    background-attachment: scroll;
    background-position-x: left;
  }
  .menu-restaurante article .header-seccion:first-child {
    height: calc(35vh + 75px);
  }
  .menu-restaurante article .categoria h1 {
    font-size: 1.5rem;
  }
  .menu-restaurante article .contenido {
    -webkit-column-count: 1;
            column-count: 1;
    padding: 0 30px;
  }
}
/*# sourceMappingURL=estilo.css.map */