.menu-restaurante{
    width: 100%;
    article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child{
            .header-seccion{
                height: calc(35vh + 165px);
                margin-top: 0;
            }
        }
        .header-seccion{
            width: 100%;
            height: 35vh;
            position: relative;
            margin-top: 60px;
            background-position: center !important;
            transition: ease-in-out .25s;
            .degradado{
                height: 30%;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            }
        }
        .titulo{
            margin: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .categoria{
            width: 95%;
            padding: 15px 0;
            background: $celeste;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -5%;
            clip-path: polygon(0% 0%, 100% 0, 99% 50%, 100% 100%, 0% 100%);
            margin-top: 60px;
            margin-bottom: 30px;
            h1{
                color: $blanco;
                font-weight: $bold;
                font-size: 3rem;
                margin-left: 5%;
                text-transform: uppercase;
                letter-spacing: 10px;
                text-align: center;
            }
        }
        .contenido{
            width: 100%;
            max-width: 1100px;
            margin: auto;
            column-count: 2;
            column-gap: 30px;
            -webkit-column-break-inside: avoid;
            margin-top: 30px;
            .objeto{
                display: inline-block;
                width: 100%;
                overflow: hidden;
                padding-top: 15px;
                .elemento{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    width: 100%;
                    padding: 0;
                    div{
                        display: flex;
                        align-items: center;
                        padding: 0;
                        width: auto;
                        .circulo{
                            width: 10px;
                            height: 10px;
                            background: $celeste;
                            border-radius: 50%;
                            padding: 0;
                            margin-right: 5px;
                        }
                        .nombre{
                            text-transform: uppercase;
                            font-weight: $bold;
                            color: $negro;
                            margin-right: 5px;
                            width: auto;
                            background: $blanco;
                        }
                    }
                    .puntos{
                        position: absolute;
                        bottom: 5px;
                        left: 15px;
                        width: 100%;
                        height: 2px;
                        padding: 0;
                        border-bottom: 2px dotted $negro;
                        z-index: -1;
                    }
                    .precio{
                        font-weight: $bold;
                        color: $celeste;
                        width: 45px;
                        background: $blanco;
                    }
                }
                .descripcion-elemento{
                    width: 100%;
                    padding: 0;
                    padding-left: 15px;
                    p{
                        font-style: italic;
                        &:first-child{
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 800px){
    .menu-restaurante{
        article{
            .header-seccion{
                background-attachment: scroll;
                background-position-x: left;
                &:first-child{
                    height: calc(35vh + 75px);
                }
            }
            .categoria{
                h1{
                    font-size: 1.5rem;
                }
            }
            .contenido{
                column-count: 1;
                padding: 0 30px;
            }
        }
    }
}