//Colores
$negro: #282a2c;
$blanco: #fff;
$gris: #E6EAEF;
$gris2: #8A8989;
$gris3: rgb(193, 198, 204);
$celeste: #54a8c7;
$celeste-osc: #368baa;

//Tipografía
$tipo: 'Open Sans', sans-serif;
$bold: 800;
$regular: 400;